$black: rgb(10, 10, 10);
$orange: #D0490D;
$blue: #154384;
$light-gray: rgb(190, 190, 190);
$white: rgb(240, 240, 245);

@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin gradient($color1, $color2) {
    background-color: $color2;
    background-image: -webkit-gradient(linear, left bottom, left top, from($color1), to($color2));
    background-image: -webkit-linear-gradient($color1, $color2);
    background-image:    -moz-linear-gradient($color1, $color2);
    background-image:     -ms-linear-gradient($color1, $color2);
    background-image:      -o-linear-gradient($color1, $color2);
    background-image:         linear-gradient($color1, $color2);
}

@mixin radial-gradient($color1, $color2) {
    background: $color2;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from($color1), to($color2));
    background: -webkit-radial-gradient($color1, $color2);
    background: -moz-radial-gradient($color1, $color2);
    background: -ms-radial-gradient($color1, $color2);
    background: -o-radial-gradient($color1, $color2);
    background: radial-gradient($color1, $color2);
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    color: $black;
    @include radial-gradient($orange, $blue);
}
h1 { font-size: 44px; margin: 12px 0 12px; }
h2 { font-size: 36px; margin: 10px 0 10px; }

a {
    color: $orange;
    font-weight: bold;
    text-decoration: none;
}

.highlight {
    color: $orange;
}

#impress {
    .center {
        @include radial-gradient($white, $light-gray);
        border-radius: 500px;
        width: 500px;
        height: 500px;
        text-align: center;

        h1, h2 {
            font-style: italic;
        }
        .inner {
            margin-top: 100px;
        }
    }
    .page {
        @include box-shadow(6px 4px 8px $black);
        @include gradient($white, $light-gray);
        display: block;
        width: 720px;
        height: 960px;
        padding: 20px 30px;
        text-align: center;
        img {
            @include box-shadow(6px 4px 8px $black);
            height: auto;
            margin: 24px;
            width: 640px;
        }
        img.medium {
            display: inline;
            height: auto;
            width: 480px;
        }
        img.small {
            display: inline;
            height: auto;
            width: 320px;
        }
        img.smaller {
            display: inline;
            height: auto;
            width: 240px;
        }
        .description {
            font-style: italic;
        }
        ul {
            margin-top: 48px;
            text-align: left;
            li {
                margin-top: 24px;
            }
        }
    }
}
